body {
  font-family: 'Gloria Hallelujah';
  text-align: center;
  color: indigo;
}

.images {
  position: relative;
}

.images .before {
  background: url(before.png);
  width: 1230px;
  height: 729px;
}

.images .after {
  position: absolute;
  max-width: 1230px;
  height: 729px;
  background: url(after.png);
  border-right: 20px solid black;
}

.footer {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: indigo;
}

a:hover {
  border-bottom: 1px dotted grey;
}

.actions a {
  box-sizing: border-box;
  background-color: indigo;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  border: 1px solid white;
}

.actions a:hover {
  background-color: white;
  color: indigo;
  border: 1px solid indigo;
}

.footer ul {
  list-style: none
}

.footer li {
  display: inline-block;
  margin-right: 10px;
}

.credits {
  font-face: san-serif;
  color: gray;  
  font-size: 0.5em;   
}
