body {
  font-family: 'Gloria Hallelujah';
  color: indigo;
}

h1 {
  margin-left: 50px;
}

.images {
  position: relative;
}

.images.card-wall .before {
  background: url(wall-before.png);
  width: 1230px;
  height: 729px;
}

.images .after {
  position: absolute;
  border-right: 20px solid black;
}

.images.popup .before {
  background: url(popup-before.png);
  width: 1198px;
  height: 715px;
}

.images.popup .after {
  max-width: 1198px;
  height: 714px;
  background: url(popup-after.png);
}

.images.images.card-wall .after {  
  max-width: 1210px;
  height: 729px;
  background: url(wall-after.png);
}

.footer {
  font-size: 1.5em;
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: indigo;
}

a:hover {
  border-bottom: 1px dotted grey;
}

.actions a {
  box-sizing: border-box;
  background-color: indigo;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  border: 1px solid white;
}

.actions a:hover {
  background-color: white;
  color: indigo;
  border: 1px solid indigo;
}

.footer ul {
  list-style: none
}

.footer li {
  display: inline-block;
  margin-right: 10px;
}

.credits {
  font-face: san-serif;
  color: gray;  
  font-size: 0.5em;   
}
